<p><%= @user.name %></p>
<p>Thank you for your interest in BeFriendly!</p>
<p>Thanks,<br />
BeFriendly<br />
<%= link_to 'http://apps.facebook.com/befriendly', 'http://apps.facebook.com/befriendly' %></p>
<p>To unsubscribe: <%= unsubscribe_url(user) %></p>
